Supabase
REACT_APP_SUPABASE_URL=your_supabase_url
REACT_APP_SUPABASE_ANON_KEY=your_supabase_key

# Paystack
REACT_APP_PAYSTACK_PUBLIC_KEY=your_paystack_public_key

# App
REACT_APP_API_URL=http://localhost:3000
REACT_APP_THB_CONTRACT=0xaf2f749ea89b3aa9a2d2028dba4004cb3c615628
